---------------------------------------------------------------------------------
-- auto generate code 
-- Don't modify it,create by xtool
-------------------------------------------------------------------------------
return {
    $CONF_DATA_LIST$
}